@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$base-gray: rgb(31, 30, 30);
$base-white: whitesmoke;
$base-blue: #3b99c4;

.App {
  font-family: "Poppins", sans-serif;
  background: $base-gray;
  min-height: 100vh;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;

  ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: $base-white;
    font-size: 3vmin;
    font-weight: 500;
  }
  h1 {
    font-size: 3.3vmin;
    color: $base-blue;
    margin-left: 20px;
  }

  a:hover {
    color: $base-blue;
  }
}
.loading {
  color: $base-white;
  text-align: center;
}
.movies-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;

  h2 {
    color: $base-blue;
  }
}
.className {
  text-align: center;
}

.movies-grid {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
      0,
      1fr
    );
  align-items: flex-end;
  text-align: center;
  grid-row-gap: 40px;
}

.movieTitle {
  font-size: 1.3vmax;
  color: $base-white;
}
.poster {
  height: 40vmin;
  width: 30vmin;
  object-fit: cover;
}
.movieDetails {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $base-white;
  }

  button {
    width: 150px;
    border: 1px solid black;
    background: $base-blue;
    cursor: pointer;
    padding: 5px;
    font-weight: 700;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
  }
  button:hover {
    filter: brightness(0.5);
  }
}
.img_overview {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  img {
    width: 50vmin;
  }

  p {
    width: 40vmax;
    color: $base-white;
    font-size: 2.5vmin;
  }
}
@media (max-width: 1000px) {
  .movies-grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
  .movieTitle {
    font-size: 2.5vmax;
  }
  .poster {
    height: 60vmin;
    width: 40vmin;
    object-fit: contain;
  }
}
@media (max-width: 600px) {
  .nav-links {
    a {
      font-size: 6vmin;
    }
    h1 {
      font-size: 7vmin;
    }
  }
  .img_overview {
    flex-direction: column;

    p {
      width: 90%;
      font-size: 3.5vmin;
    }

    img {
      width: 70vmin;
    }
  }
}
@media (max-width: 350px) {
  .movies-grid {
    grid-template-columns: minmax(0, 1fr);
  }

  .poster {
    height: 100vmin;
    width: 90vmin;
    object-fit: contain;
  }
}
